*.json
.HA_VERSION
.storage
.uuid
*.bak
*.txt
*.xml
*.conf
home-assistant.log
home-assistant_v2.db*
pyozw.sqlite
customize.yaml
known_devices.yaml
secrets.yaml
deps
.cloud
tts
spotify-token-cache.json
components/zones.yaml
image/
